@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject NavigationManager Navigation

<PageTitle>Contracts</PageTitle>

<h1>Contracts</h1>
<ul id="contractsList">
    @foreach (var contract in contracts)
    {
        <li>@contract</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> contracts = [];

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/hubs/contracts"))
            .Build();

        hubConnection.On<string>("NewContract", (contract) =>
        {
            contracts.Add(contract);
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}